<div class="row">
    <div class="col-xs-12 ">

        <!-- <div [ngStyle]="{'transform': 'scale(' + scaleRange + ')'}">
            <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive m-1"
                style="max-height: 400px;max-width: 400px">
        </div> -->

        <p class="lead">click & scroll the image to zoom</p>
        <div class="image-preview">
            <div [ngStyle]="{'transform':'rotate(' + rotateAngle +  'deg)'}">
                <div
                    [ngStyle]="{'transform': 'scale(' + scaleRange +  ')','transform-origin': xValue + 'px ' + yValue + 'px'}">
                    <div>
                        <lib-ngx-image-zoom (zoomScroll)="scroll($event)" (zoomPosition)="mouseMove($event)"
                            zoomMode="toggle-click" [thumbImage]='imageUrl' [fullImage]=imageUrl maxZoomRatio="10"
                            [scrollStepSize]=".1" magnification="1" enableScrollZoom="true" altText="img-not-found">
                        </lib-ngx-image-zoom>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="zoom-controls">

        <div class="zoom-control" (click)="onDecrease()"> - </div>
        <input type="range" min="1" max="10" step=".1" value={{scaleRange}} class="form-range"
            style="width: 200px; height: 50px;" #ref (change)="valueChanged(ref.value)">
        <div class="zoom-control" (click)="onIncrease()"> + </div>
        <div class="rotate-button" (click)="onRotate()">
            <div class="rotate-button-icon">
                <img src="https://img.icons8.com/material-sharp/24/000000/rotate-left.png" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ recipe.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group" appDropdown>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown">
                    Manage Recipe <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
                    <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit Recipe</a></li>
                    <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete Recipe</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{ recipe.description }}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}}
                    ({{ingredient.amount}})</li>
            </ul>
        </div>
    </div>